.wrapper{
  display : flex;
}
.side-bar{
  width: 300px;
  height: 100vh;
}

.side-header{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-name a {
  color: #fafafa;
  font-size: 16px;
}

.create-room a {
  color: deepskyblue;
  border:1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.create-room {
  font-size: 10px;
}

.side-mains{
  background-color: #2f3e51;
  height: calc(100% - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.side-main {
  padding: 020px 0 40px;
}

.side-main a {
  text-decoration: none;
  color: white;
}

.side-chat-name{
 color: white;
 padding: 20px 20px 40px 20px;
}

.chat{
  width: calc(100% - 300px);
}

.chat-header{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.chat-main{
  background-color: #fafafa;
  height: calc(100% - 190px);
  padding: 46px 40px 0;
}

.chat-footer{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}